# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
# function that return the lesser number if both are even and return the greater if on is odd
def lesser_of_two_evens(a,b):
    if (a % 2 and b % 2) == 0:
        if a < b:
            return a
        else:
            return b
    if (a % 2 or b % 2) !=0:
        if a > b:
            return a
        else:
            return b    
    pass

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

2

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [4]:
#function that comparsion of begin letter in the string and return True if both is same
def animal_crackers(text):
    if text[0] == text[12]:
        return True
    else:
        return False
    
    pass

In [5]:
# Check
animal_crackers('Levelheaded Llama')

True

In [6]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [98]:
#if on number of sum of number equal 20 that return True if not return false
def makes_twenty(n1,n2):
    if n1 or n2 == 20:
        return True
    elif n1 + n2 == 20:
        return True 
    else:
        return False
    
    pass

In [99]:
# Check
makes_twenty(20,10)

True

In [100]:
# Check
makes_twenty(2,3)

True

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [120]:
#function that make the first and fourth letter are capital
def old_macdonald(name):
    l = list(name)
    for index in range(len(name)):
        if index == 0:
            l[index] = l[index].upper()
        elif index == 3:
            l[index] = l[index].upper()
    return "".join(l)       
    pass

In [121]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [ ]:
def almost_there(n):
    
    pass

In [ ]:
# Check
almost_there(104)

In [ ]:
# Check
almost_there(150)

In [ ]:
# Check
almost_there(209)

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [171]:
#fuction that return true if numbe 3 contains
def has_33(nums):
     for i in range(len(nums)):
        if nums[i:i+2] == [3,3]:
            return True
        
     return False
     pass

In [172]:
# Check
has_33([1, 3, 3])

True

In [173]:
# Check
has_33([1, 3, 1, 3])

False

In [174]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [95]:
#let the letter three letter
def paper_doll(text):
    result=''
    for letter in text:
        result += letter*3
    return result   
    
    pass

In [96]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [97]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [101]:
#return sum if less than
def blackjack(a,b,c):
    if a+b+c <= 21:
        sum = a+b+c
        print(sum)
    if (a+b+c > 21 ) and (a or b or c) == 11:
        sum = (a+b+c) - 10
        print(sum)
    elif sum >21:
        return 'BUST'
    
    pass

In [102]:
# Check
blackjack(5,6,7)

18

In [103]:
# Check
blackjack(9,9,9)

UnboundLocalError: local variable 'sum' referenced before assignment

In [104]:
# Check
blackjack(9,9,11)

UnboundLocalError: local variable 'sum' referenced before assignment

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [115]:
def summer_69(arr):
    for i in arr:
        result = sum(arr)
        return result
        break
    pass

In [116]:
# Check
summer_69([1, 3, 5])

9

In [117]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

39

In [ ]:
# Check
summer_69([2, 1, 6, 9, 11])

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [105]:
def spy_game(nums):
    
    pass

In [106]:
# Check
spy_game([1,2,4,0,0,7,5])

TypeError: can only concatenate str (not "int") to str

In [ ]:
# Check
spy_game([1,0,2,4,0,5,7])

In [ ]:
# Check
spy_game([1,7,2,0,4,5,0])

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [86]:
#count the primes number in range
def count_primes(num):
    temp = 0 
    for n in range(2,(num+1)) :
        if n % 2 !=0:
            temp = temp + n
            print(temp)
        
    pass

In [87]:
# Check
count_primes(100)

3
8
15
24
35
48
63
80
99
120
143
168
195
224
255
288
323
360
399
440
483
528
575
624
675
728
783
840
899
960
1023
1088
1155
1224
1295
1368
1443
1520
1599
1680
1763
1848
1935
2024
2115
2208
2303
2400
2499

## Great Job!